@model HotelWebApplication.Models.Staff
@{
    ViewData["Title"] = "AddStaff";
}

<h1 class="display-4">Add staff</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-controller="Staff" asp-action="AddStaff">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="StaffID" class="control-label">Staff ID</label>
                <input asp-for="StaffID" name="StaffID" class="form-control"/>
                @*@Html.ValidationMessage("StaffID", new { @class = "text-danger" })*@
                <span asp-validation-for="StaffID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="FirstName" class="control-label">First Name</label>
                <input asp-for="FirstName" name="FirstName" class="form-control"/>
                @*@Html.ValidationMessage("FirstName", new { @class = "text-danger" })*@
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="LastName" class="control-label">Last Name</label>
                <input asp-for="LastName" name="LastName" class="form-control" />
                @*@Html.ValidationMessage("LastName", new { @class = "text-danger" })*@
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Email" class="control-label">Email</label>
                <input asp-for="Email" name="Email" class="form-control" />
                @*@Html.ValidationMessage("Email", new { @class = "text-danger" })*@
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="MobilePhone" class="control-label">Phone Number</label>
                <input asp-for="MobilePhone" name="MobilePhone" class="form-control"/>
                @*@Html.ValidationMessage("MobilePhone", new { @class = "text-danger" })*@
                <span asp-validation-for="MobilePhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="AddStaff" class="btn btn-primary" style="margin-top:10px;" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Staff" asp-action="Staff">Back to Staff List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

