@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Most Common Hotel</h1>
    <p>We provide the best hospitality in town.</p>
    <div class="text-center">
        <img src="~/Images/Hotel.png" alt="bank" width="500" height="300" />
    </div>
</div>

